Repository briansokol/eslint-config, changes with the labels that .github/labeler.yml gives for each.
All labels: config, config-react, config-react-native, config-node, dependencies, documentation

Adding license file and updating readme
  LICENSE
  README.md
Labels: documentation

Adding license file and updating readme (#10)
  LICENSE
  README.md
Labels: documentation

Bumping version to 4.0.1
  package.json
Labels: none

Chore/bump version 4.0.1 (#11)
  package.json
Labels: none

Fix peer dependency versions in readme
  README.md
Labels: documentation

Fix peer dependency versions in readme (#12)
  README.md
Labels: documentation

Bumping dependencies, relaxing TypeScript rules.
  .npmignore
  base.js
  docs/node-typescript.md
  docs/react-native-typescript.md
  docs/react-typescript.md
  node-typescript.js
  package.json
  react-native-typescript.js
  react-typescript.js
  src/base.ts
  yarn.lock
Labels: config, config-react, config-react-native, config-node, dependencies, documentation

Bumping dependencies, relaxing TypeScript rules.
  docs/node-typescript.md
  docs/react-native-typescript.md
  docs/react-typescript.md
Labels: documentation

Relaxing TypeScript Rules (#22)
  .npmignore
  base.js
  docs/node-typescript.md
  docs/react-native-typescript.md
  docs/react-typescript.md
  node-typescript.js
  package.json
  react-native-typescript.js
  react-typescript.js
  src/base.ts
  yarn.lock
Labels: config, config-react, config-react-native, config-node, dependencies, documentation

Bumping release version
  package.json
Labels: none

Bumping release version (#23)
  package.json
Labels: none

chore: Add Commitizen configuration
  package.json
  yarn.lock
Labels: dependencies

.github/labeler.yml:

config: base.js

config-react: react-typescript.js

config-react-native: react-native-typescript.js

config-node: node-typescript.js

dependencies: yarn.lock

documentation:
  - docs/*.md
  - README.md
